article h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-contain {
    display: flex;
    justify-content: center;
}

.caja1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.caja1 img {
    width: 50%;
    margin-right: 3px;
}

.caja2 {
    background-color: darkslategrey;
    color: white;
    width: 50%;
    padding: 15px 15px;
    text-align: left;
}

.titulo2 {
    text-align: center;
    margin-top: 30px;
}

.titulo2 input {
    width: 300px;
}

textarea {
    margin-top: 30px;
}

.caja2 a {
    border: 1px solid white;
    color: white;
}

footer a {
    text-decoration: none;
}

/* CSS para Comprar Tickets */

.card-contain {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.b-azul {
    width: 14rem;
    border: 1px solid blue;
    margin-right: 5px;
    padding-top: 1rem;
    height: 12rem;
}

.b-verde {
    width: 14rem;
    border: 1px solid green;
    padding-top: 1rem;
    height: 12rem;
}

.b-anaranjado {
    width: 14rem;
    border: 1px solid darkorange;
    margin-left: 5px;
    padding-top: 1rem;
    height: 12rem;
}

.btn-contain {
    display: flex;
    margin-top: 1rem;
}

#btn-borrar {
    width: 50%;
    background-color: #318ce7;
    color: white;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
}

#btn-resumen {
    width: 50%;
    background-color: #318ce7;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
}

.container-fluid p {
    background-color: rgb(160, 178, 208);
    padding: 10px;
    border-radius: 5px;
    margin-top: 24px;
}