.contenedor {
    position: relative;
    background-image: url(./asset/img/hawaii.jpg);
    text-align: end;
    color: white;
    background-size: 100% 100%;
    height: 800px;
}

.letras {
    position: relative;
    margin-right: 150px;
    top: 350px
}

article h2 {
    text-align: center;
}

.card-contain {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
}

.playa img {
    width: 500px;
}

.palabras {
    background-color: darkslategrey;
    color: white;
}